
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<style>

    .form-container {
        /* border: 1px solid #ccc;*/
        padding: 0px;
        /* background-color: white;
        width:600px;*/
        margin: 0 auto;
        border-radius: 19px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="text"], input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    input[type="submit"] {
        background-color: #2da7ff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type="submit"]:hover {
            background-color: #028cf5;
        }

    .boton_login {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
    }
</style>
@*<form action="/login" method="post">
        <div class="form-group">
            <label for="username">Nombre de usuario:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <input type="submit" value="Iniciar sesión">
        </div>
    </form>*@

<div class="form-container" style="border-radius: 19px; background-color:white">
    <div style="padding: 30px 0px 0px 0px;">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-0"></div>
                    <div class="col-lg-10 col-md-10 col-sm-12">
                        <form action="/Auth/login" method="post">
                            <div class="container">
                                <div class="row mb-3">
                                    <div class="col">
                                        <div style="font-weight: 500; font-size: 32px; line-height: 40px; color: #002B76; text-align: center;">
                                            <label><strong>Inicio de Sesión</strong></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    @*@Html.ReCaptchaHiddenAdvanced()
                                        @Html.ReCaptchaJSAdvanced()*@
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-8">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Usuario">
                                            <label for="floatingInput">Usuario</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-8">
                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Contraseña">
                                            <label for="floatingInput">Contraseña</label>
                                        </div>
                                    </div>
                                    @*<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-8">
                                            <div class="d-grid gap-2">
                                                <button type="button" class="btn btn-outline-primary" style="height:3.5rem;width:310px" id="Ingresar">Ingresar</button>
                                            </div>
                                        </div>*@
                                    <div class="form-group boton_login">
                                        <input type="submit" value="Iniciar sesión">
                                    </div>
                                </div>

                                @*<div id="empInicio" style="display: none;">
                                        <div class="row mb-3">
                                            <div class="col-12">
                                                <div style="text-align: center;">
                                                    <div class="d-grid gap-2">
                                                        <a href='@Url.Action("Index", "Home")' id="btnIngresar" class="btn btn-outline-primary" style="height: calc(3.5rem + 2px);">Ingresaaaaaaaar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-0"></div>
                </div>
            </div>
        </div>


    </div>
</div>


<div id="idPageLoader" class="layout-loader d-none" @*style="display:block;"*@>
    <div class="wrapper">
        <div class="box-wrap">
            <div class="box one"></div>
            <div class="box two"></div>
            <div class="box three"></div>
            <div class="box four"></div>
            <div class="box five"></div>
            <div class="box six"></div>
        </div>
        <p class="text_loader">Espere un momento, estamos procesando su información</p>
    </div>
</div>

@*<script type="text/javascript">
        $(document).ready(function () {
            EjecutarCaptchaAdvanced();
            setInterval('EjecutarCaptchaAdvanced()', 240000);

            EjecutarCaptchaResponse();
            setInterval('EjecutarCaptchaResponse()', 240000);

            $("#btnEnviarCodigo").click(function () {
                var longitud = $("#celular").val();

                var data = new FormData();
                var cel = $("#celular").val();

                var captcha = $("#txtCaptcha").val();
                var norobot = $("#g-recaptcha-response-advanced").val();

                data.append("celular", cel);
                data.append("captcha", captcha);
                data.append("g-recaptcha-response-advanced", norobot);

                console.log("celular: ", cel);
                console.log("captcha: ", captcha);
                console.log("g-recaptcha-response-advanced: ", norobot);

                $("#idPageLoader").removeClass('d-none');

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("enviarCodigo", "Auth")',
                    data: data,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        $("#idPageLoader").addClass('d-none');
                        if (result.mensaje != "nocaptcha") {
                            if (result.estado == "00") {
                                EjecutarCaptchaResponse();
                                $("#celular").prop("disabled", true);
                                $("#btnEnviarCodigo").prop("disabled", true);
                                $("#celular_OTP").val(result.numCel);

                                $("#empRegistro").css("display", "none");
                                $("#empValidaOTP").css("display", "block");
                                Swal.fire({
                                    title: 'Código enviado Revise su Correo o Celular con el cual registró.',
                                    icon: 'success',
                                    allowOutsideClick: false, //Evita el cierre al hacer clic en el fondo
                                    showCancelButton: false, //Evita el cierre al hacer clic en el boton cancelar
                                    showCloseButton: false, //Evita el cierre al hacer clic en el boton close x
                                    allowEscapeKey: false, //Evita el cierre al hacer clic en el boton esc
                                    confirmButtonColor: '#7CD1F9'
                                });
                            } else if (result.estado == "01") {
                                EjecutarCaptchaAdvanced();
                                $("#celular").prop("disabled", true);
                                $("#btnEnviarCodigo").prop("disabled", true);

                                $("#empRegistro").css("display", "none");
                                $("#empValidaOTP").css("display", "none");
                                Swal.fire({
                                    title: 'Error vuelva a intentarlo.',
                                    icon: 'error',
                                    allowOutsideClick: false, //Evita el cierre al hacer clic en el fondo
                                    showCancelButton: false, //Evita el cierre al hacer clic en el boton cancelar
                                    showCloseButton: false, //Evita el cierre al hacer clic en el boton close x
                                    allowEscapeKey: false, //Evita el cierre al hacer clic en el boton esc
                                    confirmButtonColor: '#7CD1F9'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location = '@Url.Action("Index", "Auth")';
                                    }
                                });
                            } else if (result.estado == "02") {
                                EjecutarCaptchaAdvanced();
                                $("#empRegistro").css("display", "block");
                                $("#empValidaOTP").css("display", "none");
                                Swal.fire({
                                    title: 'Para continuar debe registrar su Empresa.',
                                    icon: 'warning',
                                    allowOutsideClick: false, //Evita el cierre al hacer clic en el fondo
                                    showCancelButton: false, //Evita el cierre al hacer clic en el boton cancelar
                                    showCloseButton: false, //Evita el cierre al hacer clic en el boton close x
                                    allowEscapeKey: false, //Evita el cierre al hacer clic en el boton esc
                                    confirmButtonColor: '#7CD1F9',
                                    confirmButtonText: 'Registrar Empresa'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        $("#idPageLoader").removeClass('d-none');
                                        window.location = '@Url.Action("Registro", "Auth")';
                                    }
                                });
                            }
                        } else {
                            EjecutarCaptchaAdvanced();
                            Swal.fire({
                                title: 'Ocurrio un error, vuelva a intentarlo.',
                                icon: 'error',
                                allowOutsideClick: false, //Evita el cierre al hacer clic en el fondo
                                showCancelButton: false, //Evita el cierre al hacer clic en el boton cancelar
                                showCloseButton: false, //Evita el cierre al hacer clic en el boton close x
                                allowEscapeKey: false, //Evita el cierre al hacer clic en el boton esc
                                confirmButtonColor: '#7CD1F9'
                            });
                        }
                    },
                    statusCode: {
                        404: function () {
                            $("#idPageLoader").addClass('d-none');
                            EjecutarCaptchaAdvanced();
                            Swal.fire({
                                title: 'Comportamiento inusual, intentelo mas tarde por favor.',
                                icon: 'error',
                                allowOutsideClick: false, //Evita el cierre al hacer clic en el fondo
                                showCancelButton: false, //Evita el cierre al hacer clic en el boton cancelar
                                showCloseButton: false, //Evita el cierre al hacer clic en el boton close x
                                allowEscapeKey: false, //Evita el cierre al hacer clic en el boton esc
                                confirmButtonColor: '#7CD1F9'
                            });
                        }
                    }
                });
                EjecutarCaptchaAdvanced();
            });

            $("#btnValidaCodigo").click(function () {
                var data = new FormData();
                var cel = $("#celular_OTP").val();
                var otp = $("#codigo_OTP").val();
                var norobot2 = $("#g-recaptcha-response").val();

                data.append("celula", cel);
                data.append("codigo", otp);
                data.append("g-recaptcha-response", norobot2);

                console.log("celular: ", cel);
                console.log("codigo: ", otp);
                console.log("g-recaptcha-response: ", norobot2);

                $("#idPageLoader").removeClass('d-none');

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Index", "Auth")',
                    data: data,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        $("#idPageLoader").addClass('d-none');
                        if (result.estado == "00") {
                            $("#codigo_OTP").prop("disabled", true);
                            $("#btnValidaCodigo").prop("disabled", true);
                            $("#idPageLoader").removeClass('d-none');
                            window.location = '@Url.Action("Apertura", "Formulario")';
                            //$("#empInicio").css("display", "block");
                            //Swal.fire({
                            //    title: 'Código Verificado.',
                            //    icon: 'success',
                            //    allowOutsideClick: false, //Evita el cierre al hacer clic en el fondo
                            //    showCancelButton: false, //Evita el cierre al hacer clic en el boton cancelar
                            //    showCloseButton: false, //Evita el cierre al hacer clic en el boton close x
                            //    allowEscapeKey: false, //Evita el cierre al hacer clic en el boton esc
                            //    confirmButtonColor: '#7CD1F9'
                            //}).then((result) => {
                            //    if (result.isConfirmed) {
                            //        $("#idPageLoader").removeClass('d-none');
                            //        window.location = '@Url.Action("Apertura", "Formulario")';
                            //    }
                            //});
                        } else if (result.estado == "01") {
                            EjecutarCaptchaResponse();
                            Swal.fire({
                                title: 'El código: ' + otp + ' de verificación es incorrecto.',
                                icon: 'error',
                                allowOutsideClick: false, //Evita el cierre al hacer clic en el fondo
                                showCancelButton: false, //Evita el cierre al hacer clic en el boton cancelar
                                showCloseButton: false, //Evita el cierre al hacer clic en el boton close x
                                allowEscapeKey: false, //Evita el cierre al hacer clic en el boton esc
                                confirmButtonColor: '#7CD1F9'
                            });
                            //location.reload();
                        } else {
                            EjecutarCaptchaResponse();
                            Swal.fire({
                                title: 'Ocurrio un error, vuelva a intentarlo.',
                                icon: 'error',
                                allowOutsideClick: false, //Evita el cierre al hacer clic en el fondo
                                showCancelButton: false, //Evita el cierre al hacer clic en el boton cancelar
                                showCloseButton: false, //Evita el cierre al hacer clic en el boton close x
                                allowEscapeKey: false, //Evita el cierre al hacer clic en el boton esc
                                confirmButtonColor: '#7CD1F9'
                            });
                        }
                    },
                    statusCode: {
                        404: function () {
                            $("#idPageLoader").addClass('d-none');
                            EjecutarCaptchaResponse();
                            Swal.fire({
                                title: 'Comportamiento inusual, intentelo mas tarde por favor.',
                                icon: 'error',
                                allowOutsideClick: false, //Evita el cierre al hacer clic en el fondo
                                showCancelButton: false, //Evita el cierre al hacer clic en el boton cancelar
                                showCloseButton: false, //Evita el cierre al hacer clic en el boton close x
                                allowEscapeKey: false, //Evita el cierre al hacer clic en el boton esc
                                confirmButtonColor: '#7CD1F9'
                            });
                        }
                    }
                });
                //EjecutarCaptchaResponse();
            });
        });
    </script>*@
